<a href="https://colab.research.google.com/github/shaima-98/Predicting_Credit_Card_Approval/blob/main/Capstone_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **Project Proposal: Predicting Credit Card Approval**

***Section 1: Questions to Answer***

**Importance**:
In today's world, accurate credit card approval is crucial for banks to mitigate risks and make informed decisions. Predicting a customer's creditworthiness helps banks manage their portfolio effectively, reduce defaults and tailor credit offerings to different segments. This not only enhances financial stability but also improves customer satisfaction.

**Impact on Banking Sector**:
Implementing an accurate credit card approval model can significantly impact the banking sector by:

Reducing default rates and associated financial losses.
Improving customer satisfaction through personalized credit offerings.
Streamlining the credit approval process, making it more efficient and cost-effective.

**Knowledge Gap**:
The proposed method fills the gap in traditional credit scoring models by incorporating advanced machine learning techniques. This approach can be beneficial for any bank in India or globally, offering a more accurate and adaptive solution for credit assessment.

***Section 2: Initial Hypothesis***

**Hypotheses**:
Annual income, employment status, and education level will strongly influence credit card approval.

Customers with property ownership and stable employment are more likely to have their credit card applications approved.

Income type, such as business income, might lead to higher credit approval rates.

***Section 3: Data Analysis Approach***

**Approach**:
Exploratory Data Analysis (EDA): Identify correlations, outliers, and patterns in the data.

**Feature Engineering**: Transform and create features to enhance model performance.

**Visualization**: Use graphs and charts to illustrate relationships and patterns in the data.

***Section 4: Machine Learning Approach***

**Machine Learning Method**:

Utilize a combination of the following models:

1. Logistic Regression
2. Random Forest
3. Gradient Boosting
4. Support Vector Machines (SVM)

**Justification**:
Logistic Regression: Simplicity and interpretability for initial exploration.
Random Forest and Gradient Boosting: Capture non-linear relationships and improve accuracy.
SVM: Handle complex decision boundaries.

**Model Improvement Steps**:
Hyperparameter Tuning: Optimize model parameters for better performa

# SQL Queries

In [35]:
import sqlite3

# Connect to the SQLite database (or create a new one if it doesn't exist)
conn = sqlite3.connect('odin_project.db')
# Create a cursor object to interact with the database
cursor = conn.cursor()

In [ ]:

# Create a table
cursor.execute('''
    CREATE TABLE project_table (
    Ind_ID INT,
    GENDER VARCHAR(10),
    Car_Owner VARCHAR(3),
    Propert_Owner VARCHAR(3),
    CHILDREN INT,
    Annual_income DECIMAL(18,2),
    Type_Income VARCHAR(20),
    EDUCATION VARCHAR(50),
    Marital_status VARCHAR(20),
    Housing_type VARCHAR(20),
    Birthday_count INT,
    Employed_days INT,
    Mobile_phone VARCHAR(15),
    Work_Phone VARCHAR(15),
    Phone VARCHAR(15),
    EMAIL_ID VARCHAR(255),
    Type_Occupation VARCHAR(50),
    Family_Members INT
);
''')

In [76]:
# Insert data into the table
import csv
with open('/content/Credit_card.csv', 'r') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    for row in csv_reader:
        cursor.execute('''
            INSERT INTO project_table (
                Ind_ID, GENDER, Car_Owner, Propert_Owner, CHILDREN, Annual_income,
                Type_Income, EDUCATION, Marital_status, Housing_type, Birthday_count,
                Employed_days, Mobile_phone, Work_Phone, Phone, EMAIL_ID,
                Type_Occupation, Family_Members
            ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        ''', ( row['Ind_ID'], row['GENDER'], row['Car_Owner'], row['Propert_Owner'],
            row['CHILDREN'], row['Annual_income'], row['Type_Income'],
            row['EDUCATION'], row['Marital_status'], row['Housing_type'],
            row['Birthday_count'], row['Employed_days'], row['Mobile_phone'],
            row['Work_Phone'], row['Phone'], row['EMAIL_ID'],
            row['Type_Occupation'], row['Family_Members']))
conn.commit()

In [ ]:
# Print all the rows
cursor.execute('''
SELECT * FROM project_table
''')
conn.commit()
rows = cursor.fetchall()
for row in rows:
    print(row)

**Grouping Customers:**

In [95]:
cursor.execute('''
SELECT Type_Income, AVG(Annual_income) AS Avg_Income
FROM project_table
GROUP BY Type_Income;
''')
conn.commit()
rows1 = cursor.fetchall()
rows1

[('Commercial associate', 229458.08219178082),
 ('Pensioner', 152867.6598513011),
 ('State servant', 211422.41379310345),
 ('Working', 178553.09774436092)]

**Females who are car and property owners:**

In [ ]:
cursor.execute('''
SELECT *
FROM project_table
WHERE GENDER = 'F' AND (Car_owner = "Y" AND Propert_owner = "Y");
''')
conn.commit()
rows2 = cursor.fetchall()
for row in rows2:
  print(row)

**Male Customers Staying with Families:**

In [ ]:
cursor.execute('''
SELECT *
FROM project_table
WHERE Gender = 'M' AND Marital_status = 'Married' AND Family_Members > 1;
''')
conn.commit()
rows3 = cursor.fetchall()
for row in rows3:
  print(row)

**Top Five Highest Incomes:**

In [111]:
cursor.execute('''
SELECT *
FROM project_table
ORDER BY Annual_income DESC
LIMIT 5;

''')
conn.commit()
rows4 = cursor.fetchall()
for row in rows4:
  print(row)

(5009749, 'F', 'Y', 'N', 0, '', 'Commercial associate', 'Higher education', 'Married', 'House / apartment', -13557, -586, '1', '1', '1', '0', '', 2)
(5018501, 'F', 'Y', 'Y', 0, '', 'Working', 'Secondary / secondary special', 'Married', 'House / apartment', -18950, -1002, '1', '1', '1', '0', 'Cooking staff', 2)
(5024917, 'F', 'N', 'Y', 0, '', 'Pensioner', 'Secondary / secondary special', 'Married', 'House / apartment', -21832, 365243, '1', '0', '1', '0', '', 2)
(5058348, 'F', 'N', 'Y', 0, '', 'Pensioner', 'Higher education', 'Separated', 'House / apartment', -24611, 365243, '1', '0', '0', '0', '', 1)
(5062137, 'M', 'N', 'Y', 1, '', 'Working', 'Secondary / secondary special', 'Single / not married', 'House / apartment', -12947, -137, '1', '0', '0', '0', 'Laborers', 2)

In [ ]:
# Creating the second table
cursor.execute('''
CREATE TABLE Credit_card_lable (
    Ind_ID INT PRIMARY KEY,
    label INT NOT NULL
);
''')
conn.commit()

In [127]:
# Insert data into the table
with open('/content/Credit_card_label.csv', 'r') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    for row in csv_reader:
        cursor.execute('''
            INSERT INTO Credit_card_lable (
                Ind_ID ,label
            ) VALUES (?, ?)
        ''', ( row['Ind_ID'], row['label']))
conn.commit()

**Number of Married People with Bad Credit:**

In [139]:
cursor.execute('''
SELECT COUNT(*)
FROM project_table
JOIN Credit_card_lable ON project_table.Ind_ID = Credit_card_lable.Ind_ID
WHERE Marital_status = 'Married' AND label = 0;
''')
conn.commit()
rows5 = cursor.fetchall()
rows5[0][0]

114

**Highest Education Level and Count:**

In [142]:
cursor.execute('''
SELECT Education, COUNT(*)
FROM project_table
GROUP BY Education
ORDER BY COUNT(*) DESC
LIMIT 1;
''')
conn.commit()
rows6 = cursor.fetchall()
for row in rows6:
  print(row)

('Secondary / secondary special', 1031)

**Bad Credit Comparison between Married Males and Females:**

In [145]:
cursor.execute('''
SELECT Marital_status, Gender, COUNT(*)
FROM project_table
JOIN Credit_card_lable ON project_table.Ind_ID = Credit_card_lable.Ind_ID
WHERE label = 1 AND Marital_status = 'Married'
GROUP BY Marital_status, Gender
ORDER BY COUNT(*) DESC
LIMIT 1;
''')
conn.commit()
rows7 = cursor.fetchall()
for row in rows7:
  print(row)

('Married', 'F', 59)